**In this note book I am going to clean the dataframe for all the jobs as well as will perform some basic exploration on data**
> Our dataframe have 6098 jobs, some of them are not the job profile we are looking to analyse (like data entry operator) which may be there because of keyword search in the search engine while scrapping.
> Need to explore what kind of data we have & convert/clean/tranform it to help us in further analysis

In [95]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import _pickle as cPickle
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
sns.set_style("whitegrid")
sns.set_context("poster")

In [96]:
# First read the data-frame :
with open('data/complete_job_profiles.pkl', 'rb') as f:
    df = cPickle.load(f)

*Data is not publicly available. You can scrap it by following the procedure as described in the [Naukri_data_scrapper] notebook. Or else you can write to me at [ripunjoygohain79@gmail.com](mailto:ripunjoygohain79@gmail.com)*

In [97]:
print("Shape of data is "+ str(df.shape))
print("Our data looks like this :")
df.head(3)

Shape of data is (6098, 21)
Our data looks like this :

,Actual_Job_Link,Company_Name,Design_Role,Doctorate,Experience,Functional_Area,Industry,Job_Application,Job_Link,Job_Post,Job_Title,Job_View,Key_Skills,Location,Num_Openings,PG,Role_Category,Salary,SalaryI,Skill_Experience,UG
0,https://www.naukri.com/job-listings-Data-Scien...,niki.ai,Data Analyst,Doctorate Not Required,3 - 6 yrs,Analytics & Business Intelligence,IT-Software / Software Services,Less than 10,https://www.naukri.com/job-listings-Data-Scien...,Posted Just Now,Data Scientist - Perl/python,Less than 10,"Machine Learning,Python,Data Analysis,Statisti...",Bengaluru,NaN,"M.Tech - Any Specialization, MS/M.Sc(Science) ...",Analytics & BI,Not Disclosed by Recruiter,Not Disclosed by Recruiter,Qualifications and Skills :1. B.tech/MS or equ...,B.Tech/B.E. - Any Specialization
1,https://www.naukri.com/job-listings-Data-Scien...,Brillio Technologies Pvt. Ltd,Research Scientist,NaN,2 - 5 yrs,"Medical , Healthcare , R&D , ...",IT-Software / Software Services,14,https://www.naukri.com/job-listings-Data-Scien...,Posted 1 day ago,Data Scientist,166,"Analytics,Data analysis,Python,Visualization,A...",Bengaluru,NaN,Post Graduation Not Required,R&D,Not Disclosed by Recruiter,Not Disclosed by Recruiter,NaN,Any Graduate - Any Specialization
2,https://www.naukri.com/job-listings-Senior-Dat...,Knorex India,System Analyst,Doctorate Not Required,3 - 6 yrs,IT Software - System Programming,IT-Software / Software Services,Less than 10,https://www.naukri.com/job-listings-Senior-Dat...,Posted Just Now,"Senior Data Scientist, Data Scientist,",Less than 10,"python,machine learning,r,algorithms,java,mark...",Pune(Hadapsar),Openings: 1,"M.Tech - Computers, Post Graduation Not Required",Programming & Design,"INR 4,25,000 - 9,25,000 P.A.","4,25,000 - 9,25,000 P.A.",Please refer to the Job description above,B.Tech/B.E. - Computers

In [98]:
# Checking the data types
df.dtypes

Actual_Job_Link     object
Company_Name        object
Design_Role         object
Doctorate           object
Experience          object
Functional_Area     object
Industry            object
Job_Application     object
Job_Link            object
Job_Post            object
Job_Title           object
Job_View            object
Key_Skills          object
Location            object
Num_Openings        object
PG                  object
Role_Category       object
Salary              object
SalaryI             object
Skill_Experience    object
UG                  object
dtype: object

**Observations on data types as well as the columns**
1. Job_Link & Actual_Job_Link are almost same, need to remove Job_Link and change the type to string(str)
2. Instead of NAN, put NA in all column rows
3. Experience : split into min_exp & max_exp, change the type to integer
4. Job_Application : parse the integer value only
5. Job_Post : parse integer value only, it is in days. No integer value means today, assign value 0 for it
6. Need to explore Location
7. Num_Openings : get the integer value, change NAN to NA
8. Doctorate, PG, UG : need to explore
9. Job_View : parse the integer value only
10. Remove SalaryI column
11. Salary: split into min & max, parse the integer value

> **Using the following command for every column, while checking the general format of the column**
```python
# dropna=false gives the count of NaN values
df["Column_Name"].value_counts(dropna=False)
```

In [99]:
# Delete Job_Links & SalaryI
del_col = ["Job_Link", "SalaryI"]
df.drop(del_col, axis=1, inplace=True)

In [100]:
# Experience : split
#df["min_experience"], df["max_experience"] = zip(*df["Experience"].map(lambda x : str(x).split(" ")))
df["min_experience"], df["max_experience"] = df["Experience"].str.split("-",1).str

# Keep only numbers, becasue there are rows with "Not Mentioned"
df["min_experience"] = df["min_experience"].str.extract("(\d+)", expand = False).astype(float)
# Extract only the number, get rid of yrs from max_experience
# Nan is also there, we can't convert it to int without "fillna" to 0 :
# Not Mentioned doesn't means fresher or 0 years of experience, so we are retaining NaN value
df["max_experience"] = df["max_experience"].str.extract("(\d+)", expand = False).astype(float)

# Remove the experience column
df.drop("Experience", axis=1, inplace=True)

In [101]:
# Job_Application : few values are like Less than 10, 1500+ etc.
# Get only the numeric value
df["Job_Application"] = df["Job_Application"].str.extract("(\d+)", expand = False).astype(int)

In [102]:
# Job_Post : how many days before the job is posted, for O days it is written as few hours ago, or just now
# While extracting numeric value, these will become NaN, we will replace it with 0
df["Job_Post"] = df["Job_Post"].str.extract("(\d+)", expand = False).fillna(0).astype(int)

In [103]:
# Job_View : few values are like Less than 10, 1500+ etc.
# Get only the numeric value
df["Job_View"] = df["Job_View"].str.extract("(\d+)", expand = False).astype(int)

In [104]:
# Num Openings : in most of the job ad, it is NaN, so converting it to float so that NaN doesn't means 0
df["Num_Openings"] = df["Num_Openings"].str.extract("(\d+)", expand = False).astype(float)

In [170]:
# Salary : split
df["min_salary"], df["max_salary"] = df["Salary"].str.split("-",1).str

# Keep only numbers, becasue there are rows with "Not Disclosed"
# Remove commas from the min_salary amount
df["min_salary"] = df["min_salary"].str.replace(",", "")
df["min_salary"] = df["min_salary"].str.extract("(\d+)", expand = False).astype(float)
# Extract only the number, get rid of INR
# Nan is also there, we can't convert it to int without "fillna" to 0 :
# Not Disclosed doesn't means 0 salary, so we are retaining NaN value
df["max_salary"] = df["max_salary"].str.replace(",", "")
df["max_salary"] = df["max_salary"].str.extract("(\d+)", expand = False).astype(float)

# Again have some error in data: annual salary less than 10000, we will replace as NaN
df["min_salary"] = df["min_salary"].apply(lambda x: np.nan if x < 100000 else x).astype(float)
df["max_salary"] = df["max_salary"].apply(lambda x: np.nan if x < 100000 else x).astype(float)
# Remove the Salary column
df.drop("Salary", axis=1, inplace=True)

In [190]:
#df.drop(df["max_experience"], inplace=True, axis=1)
print(df.shape)
df.head(3)

(6098, 21)

,Actual_Job_Link,Company_Name,Design_Role,Doctorate,Functional_Area,Industry,Job_Application,Job_Post,Job_Title,Job_View,Key_Skills,Location,Num_Openings,PG,Role_Category,Skill_Experience,UG,min_experience,max_experience,min_salary,max_salary
0,https://www.naukri.com/job-listings-Data-Scien...,niki.ai,Data Analyst,Doctorate Not Required,Analytics & Business Intelligence,IT-Software / Software Services,10,0,Data Scientist - Perl/python,10,"Machine Learning,Python,Data Analysis,Statisti...",Bengaluru,NaN,"M.Tech - Any Specialization, MS/M.Sc(Science) ...",Analytics & BI,Qualifications and Skills :1. B.tech/MS or equ...,B.Tech/B.E. - Any Specialization,3.0,6.0,NaN,NaN
1,https://www.naukri.com/job-listings-Data-Scien...,Brillio Technologies Pvt. Ltd,Research Scientist,NaN,"Medical , Healthcare , R&D , ...",IT-Software / Software Services,14,1,Data Scientist,166,"Analytics,Data analysis,Python,Visualization,A...",Bengaluru,NaN,Post Graduation Not Required,R&D,NaN,Any Graduate - Any Specialization,2.0,5.0,NaN,NaN
2,https://www.naukri.com/job-listings-Senior-Dat...,Knorex India,System Analyst,Doctorate Not Required,IT Software - System Programming,IT-Software / Software Services,10,0,"Senior Data Scientist, Data Scientist,",10,"python,machine learning,r,algorithms,java,mark...",Pune(Hadapsar),1.0,"M.Tech - Computers, Post Graduation Not Required",Programming & Design,Please refer to the Job description above,B.Tech/B.E. - Computers,3.0,6.0,425000.0,925000.0

In [207]:
# Job_Title : creating a new data-frame
df_new = df
# job title like data entry operator/ business system analyst/ mis executive etc are out of our scope of analysis
# so we are going to discard those job titles
pattern = "data scientist|business analyst|data analyst|scientist|machine learning|big data|data science"

# changing the text to lower case
df_new["Job_Title_lower"] = df_new["Job_Title"].str.lower()
# writing a new column with true and false based on if the pattern is exists or not
df_new["flag"] = df_new["Job_Title_lower"].str.contains(pattern)

# filtering the rows where flag is True
df_filtered = df_new[df_new["flag"]==True]

# to handle SettingWithCopyWarning : explicitly saying that it is not a copy, so that changes in the copy don't reflects
# in the original
df_filtered.is_copy = None
# Remove the flag column
df_filtered.drop("flag", axis=1, inplace=True)

print("After filtering jobs, the shape is " + str(df_filtered.shape))
df_filtered.head(3)

After filtering jobs, the shape is (3484, 22)

,Actual_Job_Link,Company_Name,Design_Role,Doctorate,Functional_Area,Industry,Job_Application,Job_Post,Job_Title,Job_View,Key_Skills,Location,Num_Openings,PG,Role_Category,Skill_Experience,UG,min_experience,max_experience,min_salary,max_salary,Job_Title_lower
0,https://www.naukri.com/job-listings-Data-Scien...,niki.ai,Data Analyst,Doctorate Not Required,Analytics & Business Intelligence,IT-Software / Software Services,10,0,Data Scientist - Perl/python,10,"Machine Learning,Python,Data Analysis,Statisti...",Bengaluru,NaN,"M.Tech - Any Specialization, MS/M.Sc(Science) ...",Analytics & BI,Qualifications and Skills :1. B.tech/MS or equ...,B.Tech/B.E. - Any Specialization,3.0,6.0,NaN,NaN,data scientist - perl/python
1,https://www.naukri.com/job-listings-Data-Scien...,Brillio Technologies Pvt. Ltd,Research Scientist,NaN,"Medical , Healthcare , R&D , ...",IT-Software / Software Services,14,1,Data Scientist,166,"Analytics,Data analysis,Python,Visualization,A...",Bengaluru,NaN,Post Graduation Not Required,R&D,NaN,Any Graduate - Any Specialization,2.0,5.0,NaN,NaN,data scientist
2,https://www.naukri.com/job-listings-Senior-Dat...,Knorex India,System Analyst,Doctorate Not Required,IT Software - System Programming,IT-Software / Software Services,10,0,"Senior Data Scientist, Data Scientist,",10,"python,machine learning,r,algorithms,java,mark...",Pune(Hadapsar),1.0,"M.Tech - Computers, Post Graduation Not Required",Programming & Design,Please refer to the Job description above,B.Tech/B.E. - Computers,3.0,6.0,425000.0,925000.0,"senior data scientist, data scientist,"

In [208]:
# delete dataframe
del df_new

In [226]:
# Mention if the job position is junior, mid_level, senior
df_filtered["Position_Rank"] = pd.np.where(df_filtered["Job_Title_lower"].str.contains("senior|sr|sr.|lead|head|chief"), "senior",
                                          pd.np.where(df_filtered["Job_Title_lower"].str.contains("junior|jr|jr.|assistant"), "junior", "mid_level"))

# Job_Title contains other informations also, need to parse only the job_title
df_filtered["Actual_Job_Title"] = pd.np.where(df_filtered["Job_Title_lower"].str.contains("data science|data scientist|scientist"), "data scientist",
                                              pd.np.where(df_filtered["Job_Title_lower"].str.contains("machine learning"), "machine learning",
                                                         pd.np.where(df_filtered["Job_Title_lower"].str.contains("business analyst|business analysts"), "business analyst",
                                                                     pd.np.where(df_filtered["Job_Title_lower"].str.contains("data analyst|analyst"), "data analyst",
                                                                                pd.np.where(df_filtered["Job_Title_lower"].str.contains("big data"), "big data engineer", "others")))))

In [231]:
df_filtered.head(3)

,Actual_Job_Link,Company_Name,Design_Role,Doctorate,Functional_Area,Industry,Job_Application,Job_Post,Job_Title,Job_View,Key_Skills,Location,Num_Openings,PG,Role_Category,Skill_Experience,UG,min_experience,max_experience,min_salary,max_salary,Job_Title_lower,Position_Rank,Actual_Job_Title
0,https://www.naukri.com/job-listings-Data-Scien...,niki.ai,Data Analyst,Doctorate Not Required,Analytics & Business Intelligence,IT-Software / Software Services,10,0,Data Scientist - Perl/python,10,"Machine Learning,Python,Data Analysis,Statisti...",Bengaluru,NaN,"M.Tech - Any Specialization, MS/M.Sc(Science) ...",Analytics & BI,Qualifications and Skills :1. B.tech/MS or equ...,B.Tech/B.E. - Any Specialization,3.0,6.0,NaN,NaN,data scientist - perl/python,mid_level,data scientist
1,https://www.naukri.com/job-listings-Data-Scien...,Brillio Technologies Pvt. Ltd,Research Scientist,NaN,"Medical , Healthcare , R&D , ...",IT-Software / Software Services,14,1,Data Scientist,166,"Analytics,Data analysis,Python,Visualization,A...",Bengaluru,NaN,Post Graduation Not Required,R&D,NaN,Any Graduate - Any Specialization,2.0,5.0,NaN,NaN,data scientist,mid_level,data scientist
2,https://www.naukri.com/job-listings-Senior-Dat...,Knorex India,System Analyst,Doctorate Not Required,IT Software - System Programming,IT-Software / Software Services,10,0,"Senior Data Scientist, Data Scientist,",10,"python,machine learning,r,algorithms,java,mark...",Pune(Hadapsar),1.0,"M.Tech - Computers, Post Graduation Not Required",Programming & Design,Please refer to the Job description above,B.Tech/B.E. - Computers,3.0,6.0,425000.0,925000.0,"senior data scientist, data scientist,",senior,data scientist

In [267]:
# Company Name: Need to remove "premium hiring for"
# change to lower case
df_filtered["Company_Name_lower"] = df_filtered["Company_Name"].str.lower()

# removing hiring for sentence
df_filtered["Company"]=pd.np.where(df_filtered["Company_Name_lower"].str.contains("hiring for"),df_filtered["Company_Name_lower"].str.extract("for (.*)", expand=False),df_filtered["Company_Name_lower"])
# remove startups
df_filtered["Company"] = df_filtered["Company"].str.replace(" - startup", "")

# replace jpmorgan with jp morgan
df_filtered["Company"] = df_filtered["Company"].str.replace("jpmorgan", "jp morgan")
# huquo consulting pvt. ltd. with huquo
df_filtered["Company"] = df_filtered["Company"].str.replace("huquo consulting pvt. ltd.", "huquo")
# premium with job consultancy as well as confidential with job consultancy
df_filtered["Company"] = df_filtered["Company"].str.replace("premium", "job consultancy")
df_filtered["Company"] = df_filtered["Company"].str.replace("confidential", "job consultancy")

In [273]:
# Doctorate : Required or not : Yes & No
# where required it is mentioned as Ph.D or Any Doctorate or Other Doctorate
# where not required it is as NaN or Doctorate Not Required
df_filtered["Doc_require"] = pd.np.where(df_filtered["Doctorate"].str.contains("Ph.D|Any|Other"), "Yes", "No")

In [276]:
# PG : Required or not
df_filtered["PG_require"] = pd.np.where(df_filtered["PG"].str.contains("Not Required|NaN"), "No", "Yes")

In [279]:
# UG : Required or not
df_filtered["UG_require"] = pd.np.where(df_filtered["UG"].str.contains("Not Required|NaN"), "No", "Yes")

In [289]:
# Location : Clean the location column
df_filtered["Location_clean"] = df_filtered["Location"]
# Bangalore to Bengaluru
df_filtered["loc_Bengaluru"] = pd.np.where(df_filtered["Location"].str.contains("Bengaluru|Bangalore"), "Bengaluru", "")
df_filtered["loc_Delhi"] = pd.np.where(df_filtered["Location"].str.contains("Delhi|Gurgaon|Gurugram|Noida"), "Delhi NCR", "")
df_filtered["loc_Mumbai"] = pd.np.where(df_filtered["Location"].str.contains("Mumbai|Bombay"), "Mumbai", "")
df_filtered["loc_Hyd"] = pd.np.where(df_filtered["Location"].str.contains("Hyderabad"), "Hyderabad", "")
df_filtered["loc_Pune"] = pd.np.where(df_filtered["Location"].str.contains("Pune"), "Pune", "")
df_filtered["loc_Kol"] = pd.np.where(df_filtered["Location"].str.contains("Kolkata|Calcutta"), "Kolkata", "")
df_filtered["loc_Chennai"] = pd.np.where(df_filtered["Location"].str.contains("Chennai"), "Chennai", "")

In [ ]:
# Concat Job Locations
df_filtered["Locations"] = df_filtered[[""]]

In [301]:
df_filtered["loc_Bengaluru"].value_counts(dropna=False)

             2515
Bengaluru     969
Name: loc_Bengaluru, dtype: int64

In [269]:
df_filtered.dtypes

Actual_Job_Link        object
Company_Name           object
Design_Role            object
Doctorate              object
Functional_Area        object
Industry               object
Job_Application         int32
Job_Post                int32
Job_Title              object
Job_View                int32
Key_Skills             object
Location               object
Num_Openings          float64
PG                     object
Role_Category          object
Skill_Experience       object
UG                     object
min_experience        float64
max_experience        float64
min_salary            float64
max_salary            float64
Job_Title_lower        object
Position_Rank          object
Actual_Job_Title       object
Company_Name_lower     object
Company                object
dtype: object

In [302]:
df_filtered.to_csv("basic_clean3.csv", encoding="utf-8")

In [291]:
df_filtered

,Actual_Job_Link,Company_Name,Design_Role,Doctorate,Functional_Area,Industry,Job_Application,Job_Post,Job_Title,Job_View,Key_Skills,Location,Num_Openings,PG,Role_Category,Skill_Experience,UG,min_experience,max_experience,min_salary,max_salary,Job_Title_lower,Position_Rank,Actual_Job_Title,Company_Name_lower,Company,Doc_require,PG_require,UG_require,Location_clean,loc_Bengaluru,loc_Delhi,loc_Mumbai,loc_Hyd,loc_Pune,loc_Kol,loc_Chennai
0,https://www.naukri.com/job-listings-Data-Scien...,niki.ai,Data Analyst,Doctorate Not Required,Analytics & Business Intelligence,IT-Software / Software Services,10,0,Data Scientist - Perl/python,10,"Machine Learning,Python,Data Analysis,Statisti...",Bengaluru,NaN,"M.Tech - Any Specialization, MS/M.Sc(Science) ...",Analytics & BI,Qualifications and Skills :1. B.tech/MS or equ...,B.Tech/B.E. - Any Specialization,3.0,6.0,NaN,NaN,data scientist - perl/python,mid_level,data scientist,niki.ai,niki.ai,No,Yes,Yes,Bengaluru,Bengaluru,,,,,,
1,https://www.naukri.com/job-listings-Data-Scien...,Brillio Technologies Pvt. Ltd,Research Scientist,NaN,"Medical , Healthcare , R&D , ...",IT-Software / Software Services,14,1,Data Scientist,166,"Analytics,Data analysis,Python,Visualization,A...",Bengaluru,NaN,Post Graduation Not Required,R&D,NaN,Any Graduate - Any Specialization,2.0,5.0,NaN,NaN,data scientist,mid_level,data scientist,brillio technologies pvt. ltd,brillio technologies pvt. ltd,Yes,No,Yes,Bengaluru,Bengaluru,,,,,,
2,https://www.naukri.com/job-listings-Senior-Dat...,Knorex India,System Analyst,Doctorate Not Required,IT Software - System Programming,IT-Software / Software Services,10,0,"Senior Data Scientist, Data Scientist,",10,"python,machine learning,r,algorithms,java,mark...",Pune(Hadapsar),1.0,"M.Tech - Computers, Post Graduation Not Required",Programming & Design,Please refer to the Job description above,B.Tech/B.E. - Computers,3.0,6.0,425000.0,925000.0,"senior data scientist, data scientist,",senior,data scientist,knorex india,knorex india,No,No,Yes,Pune(Hadapsar),,,,,Pune,,
3,https://www.naukri.com/job-listings-Data-Scien...,GoPaisa Netventures Pvt Ltd,Database Architect/Designer,Doctorate Not Required,"IT Software - eCommerce , Internet Techn...",Internet / Ecommerce,10,2,Data Scientist,108,"mysql,solr,git,web technologies,performance tu...","New Delhi, Jasola",NaN,"M.Tech - Any Specialization, MCA - Computers",Programming & Design,"Qualification\t-B-Tech , MCA , M-Tech",B.Tech/B.E. - Any Specialization,3.0,5.0,NaN,NaN,data scientist,mid_level,data scientist,gopaisa netventures pvt ltd,gopaisa netventures pvt ltd,No,Yes,Yes,"New Delhi, Jasola",,Delhi NCR,,,,,
4,https://www.naukri.com/job-listings-Data-Engin...,IDS Infotech Ltd.,Software Developer,NaN,"IT Software - Application Programming , ...",IT-Software / Software Services,10,0,Data Engineer/analyst/scientist (Big Data),10,"Big Data Engineer,Big Data Developer,Big Data ...",Chandigarh,1.0,"M.Tech - Computers, MCA - Computers",Programming & Design,Please refer to the Job description above,"B.Tech/B.E. - Computers, BCA - Computers",2.0,4.0,400000.0,800000.0,data engineer/analyst/scientist (big data),mid_level,data scientist,ids infotech ltd.,ids infotech ltd.,Yes,Yes,Yes,Chandigarh,,,,,,,
5,https://www.naukri.com/job-listings-Data-Scien...,Inkredo - Startup,Database Architect/Designer,Doctorate Not Required,"IT Software - DBA , Datawarehousing",Internet / Ecommerce,11,1,Data Scientist,68,"software solutions,data scientist,NLP,data sci...",Gurgaon,NaN,Any Postgraduate - Any Specialization,Programming & Design,"Experience: Experience in NLP, network analys...","Any Graduate - Any Specialization, B.Tech/B.E....",1.0,3.0,NaN,NaN,data scientist,mid_level,data scientist,inkredo - startup,inkredo,No,Yes,Yes,Gurgaon,,Delhi NCR,,,,,
6,https://www.naukri.com/job-listings-Data-Scien...,xtLytics,DBA,Doctorate Not Required,"IT Software - DBA , Datawarehousing",IT-Software / Software Services,36,5,Data Scientist - SQL/ Hive/ Pig,227,"Hive,Data Science,Machine Learning,R,SQL,Data ...","Delhi NCR, Noida",NaN,Any Postgraduate - Any Specialization,Admin/Maintenance/Security/Datawarehousing,Education- A Bachelor's degree in a quantitati...,"B.Tech/B.E. - Any Specialization, B.Sc - Any S...",5.0,10.0,NaN,NaN,data scientist - sql/ hive/ pig,mid_level,data scientist,xtlytics,xtlytics,No,Yes,Yes,"Delhi NCR, Noida",,Delhi NCR,,,,,
7,https://www.naukri.com/job-listings-Tacit-DDC-...,Shell India Markets Private Limited,Data Analyst,Ph.D,Analytics & Business Intelligence,IT-Software / Software Services,10,1,Tacit- DDC- Lead Data Scientist,120,"data science,data analytics,agile,machine lear...",Bengaluru,1.0,"MBA/PGDM - Any Specialization, M.Tech - Any Sp...",Analytics & BI,Requirements:\tSkills & Requirements: Bache...,"B.Tech/B.E. - Computers, B.Sc - Computers, Mat...",12.0,14.0,NaN,NaN,tacit- ddc- lead data scientist,senior,data scientist,shell india markets private limited,shell india markets private limited,Yes,Yes,Yes,Bengaluru,Bengaluru,,,,,,
8,https://www.naukri.com/job-listings-Data-Scien...,Kafal Software,Data Analyst,Doctorate Not Required,Analytics & Business Intelligence,IT-Software / Software Services,29,5,Data Scientist - R/ Statistical Modelling - II...,248,"Data Analysis,Data Mining,R,Statistical Modeli...",Delhi NCR,NaN,Any Postgraduate - Any Specialization,Analytics & BI,IITs and NITs preferred,B.Tech/B.E. - Any Specialization,4.0,9.0,NaN,NaN,data scientist - r/ statistical modelling - ii...,mid_level,data scientist,kafal software,kafal software,No,Yes,Yes,Delhi NCR,,Delhi NCR,,,,,
9,https://www.naukri.com/job-listings-Data-Scien...,FedEX Express Transportation & Supply ChainSer...,Other,Doctorate Not Required,Analytics & Business Intelligence,KPO / Research / Analytics,954,0,Data Scientist - Digital Intelligence COE,2500,"hadoop,hive,data analysis,oozie,flume,sql,sqoo...",Mumbai,NaN,Post Graduation Not Required,Other,Please refer to the Job description above,"B.Tech/B.E. - Any Specialization, BCA - Comput...",2.0,7.0,NaN,NaN,data scientist - digital intelligence coe,mid_level,data scientist,fedex express transportation & supply chainser...,fedex express transportation & supply chainser...,No,No,Yes,Mumbai,,,Mumbai,,,,
10,https://www.naukri.com/job-listings-Looking-fo...,Yellow Box HR Services Pvt. Ltd.,Data Analyst,Doctorate Not Required,Analytics & Business Intelligence,KPO / Research / Analytics,10,1,Looking for Data Scientist for Chennai,80,"Text Analytics,Statistical Modeling,R,Machine ...",Chennai,NaN,Post Graduation Not Required,Analytics & BI,Please refer to the Job description above,Any Graduate - Any Specialization,6.0,11.0,NaN,NaN,looking for data scientist for chennai,mid_level,data scientist,yellow box hr services pvt. ltd.,yellow box hr services pvt. ltd.,No,No,Yes,Chennai,,,,,,,Chennai
11,https://www.naukri.com/job-listings-NLP-Scient...,Premium hiring for Client of Rinalytics Advisors,Data Analyst,"Ph.D - Maths, Statistics, Economics",Analytics & Business Intelligence,KPO / Research / Analytics,10,1,NLP Scientist - Data Mining/machine Learning,45,"machine learning,information retrieval,neural ...",India,NaN,"MS/M.Sc(Science) - Maths, Statistics, M.Tech -...",Analytics & BI,NaN,B.Tech/B.E. - Any Specialization,5.0,10.0,NaN,NaN,nlp scientist - data mining/machine learning,mid_level,data scientist,premium hiring for client of rinalytics advisors,client of rinalytics advisors,Yes,Yes,Yes,India,,,,,,,
12,https://www.naukri.com/job-listings-Data-Scien...,Premium,Data Analyst,Doctorate Not Required,Analytics & Business Intelligence,IT-Software / Software Services,10,2,Data Scientist - It/internet/online,179,"Hive,HBase,NoSQL,Pig,Cassandra,Big Data,SQL,Ma...","Delhi NCR, Gurgaon",NaN,M.Tech - Any Specialization,Analytics & BI,Reporting To - Department Head Qualification -...,B.Tech/B.E. - Any Specialization,5.0,9.0,NaN,NaN,data scientist - it/internet/online,mid_level,data scientist,premium,job consultancy,No,Yes,Yes,"Delhi NCR, Gurgaon",,Delhi NCR,,,,,
13,https://www.naukri.com/job-listings-SDM-BPS-An...,Premium hiring for Client of Elements Manpowe...,Analytics Manager,Doctorate Not Required,Analytics & Business Intelligence,BPO / Call Centre / ITES,10,2,SDM - BPS Analytics/data Scientist - BPO,172,"R,Pattern Recognition,SAS,Web Analytics,Digita...",Hyderabad,NaN,"M.A - Statistics, Economics, MS/M.Sc(Science) ...",Analytics & BI,NaN,Any Graduate - Any Specialization,7.0,10.0,NaN,NaN,sdm - bps analytics/data scientist - bpo,mid_level,data scientist,premium hiring for client of elements manpowe...,client of elements manpower solutions,No,Yes,Yes,Hyderabad,,,,Hyderabad,,,
14,https://www.naukri.com/job-listings-Data-Scien...,Mississippi Consultants,Data Analyst,Ph.D - Advertising/Mass Communication,Analytics & Business Intelligence,KPO / Research / Analytics,249,2,Data Scientist R & Python with Machine Learnin...,899,"r,python,Machine Learning",Pune,10.0,"M.Tech - Any Specialization, MS/M.Sc(Science) ...",Analytics & BI,Please refer to the Job description above,B.Tech/B.E. - Any Specialization,5.0,10.0,NaN,NaN,data scientist r & python with machine learnin...,mid_level,data scientist,mississippi consultants,mississippi consultants,Yes,Yes,Yes,Pune,,,,,Pune,,
15,https://www.naukri.com/job-listings-Principal-...,CA (India) Technologies Private Limited,Team Lead/Technical Lead,NaN,"IT Software - Application Programming , ...",IT-Software / Software Services,30,7,Principal Data Scientist - IIT / NIT,392,"Java,Product Sales,Software Development,Artifi...",Hyderabad,NaN,NaN,Programming & Design,Please refer to the Job description above,B.Tech/B.E. - Any Specialization,7.0,12.0,NaN,NaN,principal data scientist - iit / nit,mid_level,data scientist,ca (india) technologies private limited,ca (india) technologies private limited,Yes,No,Yes,Hyderabad,,,,Hyderabad,,,
16,https://www.naukri.com/job-listings-Senior-Dat...,Bundl Technologies Pvt Ltd,Data Analyst,Doctorate Not Required,Analytics & Business Intelligence,BPO / Call Centre / ITES,16,5,Senior Data Scientist,229,"Data Science,Data Scientist,Python,R,Spark,mac...",Bengaluru,NaN,"M.Tech - Computers, MCA - Computers, MS/M.Sc(S...",Analytics & BI,What are we looking for?An ideal candidate sho...,Any Graduate - Any Specialization,3.0,6.0,NaN,NaN,senior data scientist,senior,data scientist,bundl technologies pvt ltd,bundl technologies pvt ltd,No,Yes,Yes,Bengaluru,Bengaluru,,,,,,
17,https://www.naukri.com/job-listings-Senior-Dat...,SAP India Pvt.Ltd,Team Lead/Technical Lead,NaN,"IT Software - Application Programming , ...",IT-Software / Software Services,11,6,Senior Data Scientist Job,258,"Database,Scientific,ERP,Engineer,Embedded,Engi...",Bengaluru,NaN,"M.Tech - Computers, MCA - Computers",Programming & Design,"M. S. or Ph. D. in Computer Science, Applied...","B.Tech/B.E. - Computers, BCA - Computers, B.Sc...",5.0,10.0,NaN,NaN,senior data scientist job,senior,data scientist,sap india pvt.ltd,sap india pvt.ltd,Yes,Yes,Yes,Bengaluru,Bengaluru,,,,,,
18,https://www.naukri.com/job-listings-Data-Scien...,ColorTokens Inc,Data Analyst,Doctorate Not Required,Analytics & Business Intelligence,IT-Software / Software Services,28,5,Data Scientist - Nlp/big Data/spark,332,"Python,Algorithms,Javascript,MongoDB,C++,SAS,C...",Bengaluru,NaN,"MCA - Computers, MS/M.Sc(Science) - Computers,...",Analytics & BI,NaN,B.Tech/B.E. - Computers,7.0,10.0,NaN,NaN,data scientist - nlp/big data/spark,mid_level,data scientist,colortokens inc,colortokens inc,No,Yes,Yes,Bengaluru,Bengaluru,,,,,,
19,https://www.naukri.com/job-listings-Data-Scien...,IBM India Pvt. Limited,Bio/Pharma Informatics-Associate/Scientist,NaN,"Medical , Healthcare , R&D , ...",IT-Software / Software Services,30,6,Data Scientist,285,"Python,SAS,Algorithms,Agile,Online marketing,S...",Bengaluru,NaN,Post Graduation Not Required,R&D,NaN,Any Graduate - Any Specialization,3.0,6.0,NaN,NaN,data scientist,mid_level,data scientist,ibm india pvt. limited,ibm india pvt. limited,Yes,No,Yes,Bengaluru,Bengaluru,,,,,,
20,https://www.naukri.com/job-listings-Senior-Dat...,Molecular connections,Software Developer,Ph.D - Computers,"IT Software - Embedded , EDA , VLS...",IT-Software / Software Services,72,6,Senior Data Scientist - Text Mining,448,"machine learning,natural language processing,t...",Bengaluru,NaN,"M.Tech - Any Specialization, Computers, MS/M.S...",Programming & Design,NaN,Any Graduate - Any Specialization,4.0,5.0,NaN,NaN,senior data scientist - text mining,senior,data scientist,molecular connections,molecular connections,Yes,Yes,Yes,Bengaluru,Bengaluru,,,,,,
21,https://www.naukri.com/job-listings-Urgently-H...,Bebo Technologies Pvt Ltd.,Software Developer,NaN,IT Software - Other,IT-Software / Software Services,16,6,Urgently Hiring for Data Scientist,266,"hadoop,hive,data analysis,sql database,mapredu...",Chandigarh,1.0,"M.Tech - Any Specialization, MCA - Computers, ...",Programming & Design,Please refer to the Job description above,"B.Tech/B.E. - Any Specialization, Computers, E...",4.0,8.0,NaN,NaN,urgently hiring for data scientist,mid_level,data scientist,bebo technologies pvt ltd.,bebo technologies pvt ltd.,Yes,Yes,Yes,Chandigarh,,,,,,,
22,https://www.naukri.com/job-listings-Data-Scien...,Decision Minds India (P) Ltd,Other,NaN,Analytics & Business Intelligence,IT-Software / Software Services,1500,6,Data Scientist,2500,"Hive,Data Science,SQL,R,Machine Learning,Data ...",Chennai,NaN,NaN,Other,Please refer to the Job description above,Any Graduate - Any Specialization,5.0,10.0,NaN,NaN,data scientist,mid_level,data scientist,decision minds india (p) ltd,decision minds india (p) ltd,Yes,No,Yes,Chennai,,,,,,,Chennai
23,https://www.naukri.com/job-listings-Artificial...,Accenture Solutions Pvt Ltd,Head/VP/GM - Analytics & BI,"M.Phil., Other Doctorate, Ph.D",Analytics & Business Intelligence,KPO / Research / Analytics,11,6,Artificial Intelligence Specialist/data Scient...,312,"Machine Learning,Deep Learning,Natural Languag...",Bengaluru,24.0,"M.Tech, MCA, Other",Senior Management,Please refer to the Job description above,"B.Tech/B.E., B.Ed, BCA - Computers, B.Sc",5.0,10.0,NaN,NaN,artificial intelligence specialist/data scient...,mid_level,data scientist,accenture solutions pvt ltd,accenture solutions pvt ltd,Yes,Yes,Yes,Bengaluru,Bengaluru,,,,,,
24,https://www.naukri.com/job-listings-Data-Scien...,ManpowerGroup Services India Private Limited ...,Data Analyst,NaN,Analytics & Business Intelligence,Internet / Ecommerce,178,2,Data Scientist (Sr. Level ICs),1120,"Demand Forecasting,Time Series,Statistical Ana...",Bengaluru,NaN,NaN,Analytics & BI,Please refer to the Job description above,"Any Graduate - Any Specialization, B.Tech/B.E....",10.0,20.0,NaN,NaN,data scientist (sr. level ics),senior,data scientist,manpowergroup services india private limited ...,one of the leading internet/ecommerce companies,Yes,No,Yes,Bengaluru,Bengaluru,,,,,,
25,https://www.naukri.com/job-listings-Data-Scien...,Talpro,Software Developer,NaN,"IT Software - Application Programming , ...",IT-Software / Software Services,199,6,Data Scientist - Sas/sql/spss,1323,"SAS SQL,SPSS,C,Statistical Analysis,Statistics...","Delhi NCR, Bengaluru",NaN,MBA/PGDM - Any Specialization,Programming & Design,NaN,"B.Tech/B.E. - Any Specialization, B.Sc - Any S...",8.0,12.0,NaN,NaN,data scientist - sas/sql/spss,mid_level,data scientist,talpro,talpro,Yes,Yes,Yes,"Delhi NCR, Bengaluru",Bengaluru,Delhi NCR,,,,,
26,https://www.naukri.com/job-listings-Data-Scien...,Talpro,Software Developer,NaN,"IT Software - Application Programming , ...",IT-Software / Software Services,302,6,Data Scientist - Sas/sql/spss,1367,"SAS SQL,SPSS,C,Excel Powerpoint,Statistical An...","Delhi NCR, Bengaluru",NaN,MBA/PGDM - Any Specialization,Programming & Design,Please refer to the Job description above,"B.Tech/B.E. - Any Specialization, Computers, B...",8.0,12.0,NaN,NaN,data scientist - sas/sql/spss,mid_level,data scientist,talpro,talpro,Yes,Yes,Yes,"Delhi NCR, Bengaluru",Bengaluru,Delhi NCR,,,,,
27,https://www.naukri.com/job-listings-Data-Scien...,TalPro,Data Analyst,NaN,Analytics & Business Intelligence,IT-Software / Software Services,151,6,Data Scientist - Sas/sql/spss,1075,"SAS SQL,SPSS,C,Statistical Analysis,Econometri...","Delhi NCR, Bengaluru",NaN,MBA/PGDM - Any Specialization,Analytics & BI,NaN,"B.Tech/B.E. - Computers, B.Sc - Computers, Mat...",8.0,12.0,NaN,NaN,data scientist - sas/sql/spss,mid_level,data scientist,talpro,talpro,Yes,Yes,Yes,"Delhi NCR, Bengaluru",Bengaluru,Delhi NCR,,,,,
28,https://www.naukri.com/job-listings-Data-Scien...,TalPro,Data Analyst,NaN,Analytics & Business Intelligence,IT-Software / Software Services,263,6,Data Scientist - SAS / SQL / SPSS,1135,"SAS SQL,SPSS,Excel Powerpoint,Statistical Anal...","Bengaluru, Delhi NCR",NaN,MBA/PGDM - Any Specialization,Analytics & BI,NaN,"B.Tech/B.E. - Any Specialization, Computers, B...",8.0,12.0,NaN,NaN,data scientist - sas / sql / spss,mid_level,data scientist,talpro,talpro,Yes,Yes,Yes,"Bengaluru, Delhi NCR",Bengaluru,Delhi NCR,,,,,
29,https://www.naukri.com/job-listings-Urgent-Req...,M/S. Myriad Consuting hiring for Hireajackal,Other,Doctorate Not Required,Analytics & Business Intelligence,Strategy / Management Consulting Firms,15,5,Urgent Requirement for a Data Scientist,143,"data scientist,senior data scientist,decision ...",Navi Mumbai,1.0,Post Graduation Not Required,Other,Strong experience in Machine Learning and Natu...,Any Graduate,2.0,5.0,NaN,NaN,urgent requirement for a data scientist,mid_level,data scientist,m/s. myriad consuting hiring for hireajackal,hireajackal,No,No,Yes,Navi Mumbai,,,Mumbai,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2858,https://www.naukri.com/job-listings-Manager-Bu...,Diverse Lynx India Pvt. Ltd,Business Analyst,,"Strategy , Management Consulting , ...",IT-Software / Software Services,10,59,Manager Business Analyst,73,Error,Mumbai,NaN,MBA/PGDM,Corporate Planning/Consulting/Strategy,Please refer to the Job description above,B.B.A / B.M.S,3.0,5.0,NaN,NaN,manager business analyst,mid_level,business analyst,diverse lynx india pvt. ltd,diverse lynx india pvt. ltd,No,Yes,Yes,Mumbai,,,Mumbai,,,,
2859,https://www.naukri.com/job-listings-Business-A...,Oracle India Pvt. Ltd.,Business Analyst,,IT Software - Other,IT-Software / Software Services,1500,59,Business Analyst 1-Ops,4000,Error,Bengaluru,NaN,MBA/PGDM,System Design/Implementation/ERP/CRM,Work involves some problem solving with assist...,B.B.A / B.M.S,0.0,3.0,NaN,NaN,business analyst 1-ops,mid_level,business analyst,oracle india pvt. ltd.,oracle india pvt. ltd.,No,Yes,Yes,Bengaluru,Bengaluru,,,,,,
2860,https://www.naukri.com/job-listings-Sr-Busines...,sun e- soft,Business Analyst,,"IT Software - Application Programming , ...",IT-Software / Software Services,14,36,Sr Business Analyst,74,Error,Coimbatore,NaN,Post Graduation Not Required,System Design/Implementation/ERP/CRM,Please refer to the Job description above,B.Tech/B.E.,2.0,5.0,NaN,NaN,sr business analyst,senior,business analyst,sun e- soft,sun e- soft,No,No,Yes,Coimbatore,,,,,,,
2861,https://www.naukri.com/job-listings-Senior-Bus...,Flowserve Corporation pvt ltd,Business Analyst,,IT Software - Other,Industrial Products / Heavy Machinery,14,36,Senior Business Analyst,141,Error,Chennai,NaN,M.Tech,System Design/Implementation/ERP/CRM,Please refer to the Job description above,B.Tech/B.E.,5.0,7.0,NaN,NaN,senior business analyst,senior,business analyst,flowserve corporation pvt ltd,flowserve corporation pvt ltd,No,Yes,Yes,Chennai,,,,,,,Chennai